:root {
  --light-background: rgb(244, 252, 255);
  --yellow: rgb(252, 228, 90);
  --neon-green: rgb(104, 255, 10);
  --button-bg: #2e2e2e;
  --header-height: 85px;
  --dropshadow: 2px 3px 2px rgb(152, 152, 152);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

